AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/shipyard
EXPRESS_API_URL=http://localhost:3001
INTERNAL_API_SECRET=
